@import 'tailwindcss';

.pepe {
  background-color: #fbebe7;
}

@theme inline {
  /* Custom Colors */

  --color-wr-wine: #5d1722;
  --color-wr-orange: #fd4324;
  --color-wr-yellow: #bf7a15;
  --color-wr-plum: #7c2a3a;
  --color-wr-plum: #bf7a15;
  --color-wr-rust: #7a3a1a;
  --color-wr-rust: #44050d;

  /* Font Families */
  --font-oswald: "Oswald", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-anton: "Anton", sans-serif;
  
}

@custom-variant notebook {
  @media (width < 1280px) {
    @slot;
  }
}

@custom-variant tablet {
  @media (width < 1024px) {
    @slot;
  }
}

@custom-variant mobile {
  @media (width < 768px) {
    @slot;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-wr-wine);
  font-family: var(--font-inter);
  font-weight: 200;
  color: white;
}

h1,
h2,
h3 {
  font-family: var(--font-anton);
}

